body {
  margin: 0;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 2px;
  font-family: Consolas, monospace, "Microsoft Yahei";
}

pre {
  overflow: auto;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 5px;
  border: solid 1px grey;
  border-radius: 2px;
  font-family: Consolas, monospace, "Microsoft Yahei";
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
